/* =============================================================================
    Example layout item
============================================================================= */

.l-example
    width 100px
    height 100px
