/* =============================================================================
    Article
============================================================================= */

.article
    position relative
    z-index 1
    margin-bottom 30px
    
    &__title
        font-size 48px
        text-align center
        margin-bottom 30px
        
    &__content
        padding 30px
        background rgba(#000, .25)
