# Root
root = true

# Base file settings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# HTML files
[*.{html,hbs}]
indent_size = 4

# Styles files
[*.{css,styl,scss,less}]
indent_size = 4
