/* =============================================================================
    Example widget
============================================================================= */

.w-example
    width 100px
    height 100px
