@viewport
    width device-width

/* =============================================================================
    Import common styles
============================================================================= */

@import "common/fonts"
@import "common/mixins"
@import "common/vars"
@import "common/animations"

@import "common/reset"

@import "common/typo"
@import "common/forms"
@import "common/layout"

/* =============================================================================
    Import layout (header & footer)
============================================================================= */

@import "layout/*"

/* =============================================================================
    Import components and widgets
============================================================================= */

@import "widgets/*"
@import "components/*"
