/* =============================================================================
    Reset & base styles
============================================================================= */

select, input, textarea, button
    box-sizing border-box
    font 1rem/$line-height $font-primary
    color $color-text
    border-radius 0

label, input[type=button], input[type=submit], button
    cursor pointer

button, input, select, textarea
    margin 0

textarea
    overflow auto
    resize none

input[type=radio]
    vertical-align text-bottom

input[type=checkbox]
    vertical-align bottom

input[type=number]

    &::-webkit-inner-spin-button
        -webkit-appearance none
        margin 0

    &::-webkit-outer-spin-button
        -webkit-appearance none
        margin 0

button
    width auto
    overflow visible

/* =============================================================================
    Forms layout
============================================================================= */

.form-item
    margin 20px 0

/* =============================================================================
    Basic elements styles
============================================================================= */

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Text inputs, textarea, select

input[type=text]
input[type=email]
input[type=number]
input[type=date]
input[type=time]
input[type=datetime]
input[type=password]
select
    height 30px

input[type=text]
input[type=email]
input[type=number]
input[type=date]
input[type=time]
input[type=datetime]
input[type=password]
textarea
select
    background #f6f6f6
    padding 4px 9px
    border 1px solid #d8d8d8

    &:hover
        box-shadow(0 0 1px rgba(#000, .5))

    &:focus
        background #fff
        box-shadow(0 0 1px rgba(#000, .5))

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Checkboxes and radio buttons

input[type=checkbox]
    display none

    &+label
        position relative
        cursor pointer
        padding-left 20px

        &:before
        &:after    
            display inline-block
            content ''
            position absolute
            left 0
            top 50%
            transform translate(0, -50%)
            box-sizing border-box
            
        &:before
            width 14px
            height 14px
            border 1px solid rgba(#000, .15)
            
        &:after
            display none
            width 10px
            height 10px
            left 2px
            background $color-primary
            
    &:checked+label
        &:before
            border-color $color-primary
        &:after
            display inline-block

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Buttons

input[type=submit],
input[type=button],
button
    display inline-block
    position relative
    padding 5px 15px
    border 0 none
    background $color-primary
    rounded(4px)
    font 700 14px/20px $font-primary
    color #fff
    white-space nowrap
    
    &:hover
        background lighten($color-primary, 10%)
        
    &[disabled]
        background lighten($color-primary, 60%)
        cursor default
