/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$checkbox_checked_name = 'checkbox-checked';
$checkbox_checked_x = 0px;
$checkbox_checked_y = 29px;
$checkbox_checked_offset_x = 0px;
$checkbox_checked_offset_y = -29px;
$checkbox_checked_width = 20px;
$checkbox_checked_height = 20px;
$checkbox_checked_total_width = 57px;
$checkbox_checked_total_height = 49px;
$checkbox_checked_image = './../images/elements.png';
$checkbox_checked = 0px 29px 0px -29px 20px 20px 57px 49px './../images/elements.png' 'checkbox-checked';
$checkbox_name = 'checkbox';
$checkbox_x = 22px;
$checkbox_y = 29px;
$checkbox_offset_x = -22px;
$checkbox_offset_y = -29px;
$checkbox_width = 20px;
$checkbox_height = 20px;
$checkbox_total_width = 57px;
$checkbox_total_height = 49px;
$checkbox_image = './../images/elements.png';
$checkbox = 22px 29px -22px -29px 20px 20px 57px 49px './../images/elements.png' 'checkbox';
$form_error_name = 'form-error';
$form_error_x = 35px;
$form_error_y = 0px;
$form_error_offset_x = -35px;
$form_error_offset_y = 0px;
$form_error_width = 22px;
$form_error_height = 22px;
$form_error_total_width = 57px;
$form_error_total_height = 49px;
$form_error_image = './../images/elements.png';
$form_error = 35px 0px -35px 0px 22px 22px 57px 49px './../images/elements.png' 'form-error';
$form_success_name = 'form-success';
$form_success_x = 0px;
$form_success_y = 0px;
$form_success_offset_x = 0px;
$form_success_offset_y = 0px;
$form_success_width = 33px;
$form_success_height = 27px;
$form_success_total_width = 57px;
$form_success_total_height = 49px;
$form_success_image = './../images/elements.png';
$form_success = 0px 0px 0px 0px 33px 27px 57px 49px './../images/elements.png' 'form-success';
$spritesheet_width = 57px;
$spritesheet_height = 49px;
$spritesheet_image = './../images/elements.png';
$spritesheet_sprites = $checkbox_checked $checkbox $form_error $form_success;
$spritesheet = 57px 49px './../images/elements.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
