/* =============================================================================
    Layout breakpoints
============================================================================= */

$l-small-phone = 320px
$l-phone = 480px
$l-tablet = 768px
$l-desktop = 992px
$l-wide = 1200px

/* =============================================================================
    Color palette
============================================================================= */

$color-palette = #515151 #fff #00b4ff #eee

$color-bg = #515151
$color-primary = #00b4ff
$color-text = #eee
$color-link = $color-primary
$color-link-hover = #fff

$color-selection-text = #fff
$color-selection-bg = $color-primary

/* =============================================================================
    Typography
============================================================================= */

$font-family-primary = 'Gudea', arial, sans-serif
$font-family-secondary = arial, sans-serif
$font-family-mono = monospace, sans-serif

$font-size-text = 20px
$line-height-text = 1.6

$font-primary = '%s / %s %s' % $font-size-text $line-height-text $font-family-primary

/* =============================================================================
    Paths
============================================================================= */

$path-images = '../images'
$path-sprite = '{$images-path}/sprite'
$path-inline = '{$images-path}/inline'
